.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;

  img[class*="wp-image-"] {
    @include center-block;
  }

  .wp-caption-text {
    margin: 0.8075em 0;
  }
}

.wp-caption-text {
  text-align: center;
}


/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;

  // Loops to enumerate the classes for gallery columns.
  @for $i from 2 through 9 {
    .gallery-columns-#{$i} & {
      max-width: map-get( $columns, $i );
    }
  }
}

.gallery-caption {
  display: block;
}

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  @include center-block;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */

  &:focus {
    background-color: $color__background-screen;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: $color__text-screen;
    display: block;
    @include font-size(0.875);
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
  }
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}


.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  @include clearfix;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  @include clearfix-after;
}



/*--------------------------------------------------------------
## Queries
--------------------------------------------------------------*/
#mobile-open {
  display: none;
  float: right;
  font-size: 15px;
  color: #fff;
  position: relative;
  top: 15px;
  z-index: 99;
  background: #111;
  padding: 4px 8px;
}

@media (min-width: 992px) {

  .single.left-sidebar {
    .blog-content {
      padding-right: 0;
      padding-left: 32px;
      &::after {
        left: 0;
      }
    }
  }

  .single.no-sidebar {
    .blog-content {
      padding-left: 0;
      padding-right: 0;
      &::after {
        width: 0;
      }
    }
  }

  .blog-content {
    position: relative;
    padding-right: 32px;
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 1px;
      height: 100%;
      z-index: 10;
      bottom: 0;
      background-color: #e1e2e4;
      right: 0;
    }
  }
}


@media (max-width: 1023px) {
   #mobile-open {
    display: block;
  }
  #site-navigation {
    display: none;
  }

  .header-default {
      padding: 10px 0;
  }
}


@media (max-width: 499px) {
  .site-branding div:not(.site-logo) {
    display: none;
  }
  .titlebar .header-title {
    font-size: 30px;
  }
  .single-lp_course .course-meta > div {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .feature-slider .slick-slide .feature-slide-inner .feature-slide-content h2.feature-slide-heading {
    font-size: 30px !important;
  }
}